body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
input {
  width: 300px;
  height: 45px;
}
ul {
  display: inline;
}
.search-bar {
  padding: 0px;
}
.motherboard-main {
  box-sizing: none;
  width: 700px;
  padding: 65px;
  border-radius: 2%;
  margin: 100px auto;
  background: rgb(152, 184, 211);
}
.credits {
  font-size: 11px;
  color: #527794;
  text-align: right;
  top: 95px;
  right: 335px;
  position: relative;
}
.placement {
  display: inline;
  text-align: left;
  font-size: 85px;
  list-style: none;
  text-decoration: none;
}

.row-align {
  display: inline;
}
.future-weather {
  text-align: right;
  padding: 30px 0px 0px 0px;
}
.vl {
  border-left: 2px solid black;
  height: 400px;
  position: relative;
  left: 35%;
  top: 20px;
}
.city-name {
  font-size: 35px;
  padding: 5px 0px;
  font-weight: bold;
}
.current-location-button {
  display: inline;
  margin: 7px 0px 0px 0px;
}
.link-style {
  text-decoration: underline;
  color: #527794;
}
.float-left {
  font-size: 25px;
  text-decoration: none;
  position: relative;
  top: -100px;
  left: 55%;
}
.hang-right {
  display: inline;
  position: relative;
  top: -50px;
  left: 180%;
}
.moon-placement {
  position: relative;
  left: 180%;
  top: -164px;
  height: 150px;
  width: 150px;
}
.inner-space {
  height: 400px;
}
.units a {
  text-decoration: none;
}
.weather-forecast-detail {
  text-align: center;
  height: 110px;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temperature-minimum {
  opacity: 0.6;
}
